<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% block title %}
	{{ data.title|default:'no value was found' }}
{% endblock %}
</title>

<!-- SET: FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico" />
<!-- END: FAVICON -->

<!-- SET: STYLESHEET -->
<link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css" media="all" />
<!-- END: STYLESHEET -->

<!-- SET: SCRIPTS -->
<script type="text/javascript"></script>
<!-- END: SCRIPTS -->
<!--[if lt IE 7]>
<style type="text/css">
.lorem p{ line-height:18px; }
</style>
<![endif]-->
</head>

<body>

<!-- wrapper starts -->
<div class="wrapper"> 
  
  <!-- container starts -->
  <div class="container"> 
    
    <!-- Header Starts -->
    <div class="header">
      <div class="logo">
        <h1><a href="#"><img src="{{STATIC_URL}}logo.png" width="170" height="60" alt="icclab-logo" /></a><span>Reinventing RCB solutions for tomorrow!</span></h1>
      </div>
      <div class="header_nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">The Lab</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Solutions</a></li>
          <li class="last"><a href="#">Contact us</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="banner"><img src="{{STATIC_URL}}banner.jpg" width="980" height="332" alt="banner" /></div>
    <!-- Header ends --> 
    
    <!-- maincontent Starts -->
    <div class="main_content">
      <div class="left_cont">
        <div class="content1">
          <h2>Rating, Charging, Billing solutions for tomorrow!</h2>
          {% block my_content %}
          <br>
          {{ data.content|default:'no value was found' }}
          
          {% endblock %}
          <p>This is a service demonstrator. You will be able to manage the full spectrum of the billing process from this interface. System has been configured to work with OpenStack Ceilometer project.</p>
          <p>
          The main features of our solution are: Complete control on rating methodology, Support for flexible pricing models, Customized billing support, discounts, and all of this keeping cloud platforms in mind. This demonstrator will allow you to get the list of available meters from Ceilometer, and shows you how to 
          <a  href="#">Read More</a></p>
        </div>
        
        <div class="content2">
          <div class="reel">
            <h2>What we do</h2>
            <a href="#"><img src="{{STATIC_URL}}img1.jpg" width="278" height="108" alt="img1" /></a>
            <p>We are a group of highly motivated researchers coming from academia and industry dedicated to furthering the sphere of innovation in all things cloud. We have experts dealing in storage, high-availability, performance, automation challenges, and other cloud related topics.</p>
            <a href="#">Read More</a> </div>
          <div class="reel">
            <h2>How it works</h2>
            <a href="#"><img src="{{STATIC_URL}}img2.jpg" width="278" height="110" alt="img" /></a>
            <p>We have developed a very generic rating-charging-billing engine that allows anyone to offer rating-charging-billing as a service for their clients. This demonstration has been tuned to work with ICCLab's OpenStack testbeds, but you can deploy the solution in any business scenarios.</p>
            <a href="#">Read More</a> </div>
          <div class="clear"></div>
        </div>
      </div>
      
      
      <div class="right_cont">
        <h2>Featured services</h2>
        <div class="lorem lorem1">
          <h3><a href="#">General Consultancy for Cloud</a></h3>
          <img src="{{STATIC_URL}}loram_img1.jpg" width="66" height="54" alt="img" align="left" />
          <p class="loreml">We are experts in the cloud domain. Use our in-depth expertise to fine tune your business offerings in the cloud ... <a  href="#">Read More</a></p>
        </div>
        <div class="lorem">
          <h3><a href="#">High Availability</a></h3>
          <img src="{{STATIC_URL}}loram_img2.jpg" width="66" height="54" alt="img" align="left" />
          <p class="loreml">Build your solutions using our best practices on highly available service setup. A resilient service is what consumers demands ... <a  href="#">Read More</a></p>
        </div>
        <div class="lorem">
          <h3><a href="#">Datacenter Automation</a></h3>
          <img src="{{STATIC_URL}}loram_img3.jpg" width="66" height="54" alt="img" align="left" />
          <p class="loreml">Pellentesque diam ligula, egestas eget rhoncus vel, hendrerit in sem. Viva mus laoreet erat sit amet ante ullamcor per vestibulum... <a  href="#">Read More</a></p>
        </div>
        <div class="lorem">
          <h3><a href="#">Online Billing for Clouds</a></h3>
          <img src="{{STATIC_URL}}loram_img4.jpg" width="66" height="54" alt="img" align="left" />
          <p class="loreml">Pellentesque diam ligula, egestas eget rhoncus vel, hendrerit in sem. Viva mus laoreet erat sit amet ante ullamcor per vestibulum... <a  href="#">Read More</a></p>
        </div>
      </div>
      <div class="clear"></div>
      
      <!-- maincontent ends --> 
      
      <!-- footer starts -->
      <div class="footer">
        <div class="copy"> Copyright © 2013 ICCLab - ZHAW. All rights reserved. Design by <a href="#" target="_blank" rel="nofollow">FreeCSSTemplates.com</a></div>
        <div class="social_icons flt_rt">
          <ul>
            <li><a href="#"><img src="{{STATIC_URL}}fb_icon.png" width="24" height="24" alt="img" /> </a></li>
            <li><a href="#"> <img src="{{STATIC_URL}}twiter_icon.png" width="24" height="24" alt="img" /></a></li>
            <li><a href="#"><img src="{{STATIC_URL}}google_icon.png" width="26" height="26" alt="img" /></a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <!-- footer ends --> 
    </div>
  </div>
  <!-- container ends --> 
  
</div>
<!-- wrapper ends -->

</body>
</html>
